body {
    padding-top: 70px; 
}

footer {
    margin: 50px 0;
}


aside {
    border: 2px #337ab7 solid;
    border-radius: 20px;
    background-color: #fdfdfd;
}

aside .well {
    margin-top: 20px;
}

.input-group-btn {
    position: absolute!important;
    z-index: 2;
    left: 100%;
}